<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Livro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
</head>
<body class="container bg-secondary-subtle fw-semibold d-flex flex-column align-items-center">
    <h1 class="text-center">Cadastro de Livro</h1>

    <form action="{% url 'cadastrar_livro_url' %}" method="post" class="bg-white p-5 shadow-sm rounded rounded-1 w-50">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input
                type="text"
                class="form-control"
                name="titulo"
                id="titulo"
                placeholder=""
            />
            <label for="titulo">Título</label>
        </div>
        <div class="form-floating mb-3">
            <input
                type="number"
                step="0.01"
                class="form-control"
                name="preco"
                id="preco"
                placeholder=""
            />
            <label for="preco">Preço</label>
        </div>
        
        <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>